{% assign Ενδιαφέροντα = site.data.data.sidebar.Ενδιαφέροντα %}
{% if Ενδιαφέροντα %}
<div class="Ενδιαφέροντα-container container-block">

  <h2 class="container-block-title">
    Ενδιαφέροντα
  </h2>

  <ul class="list-unstyled Ενδιαφέροντα-list">
    {% for interest in Ενδιαφέροντα %}

      {% if Ενδιαφέροντα.link %}
      <li><a href="{{ interest.link }}">{{ interest.item }}</a></li>
      {% else %}
      <li>{{ interest.item }}</li>
      {% endif %}

    {% endfor %}
  </ul>

</div><!--//Ενδιαφέροντα-->
{% endif %}
