/* styles-6 variables */
$theme-color: #6f00ff;
$text-color: #6f00ff;
$text-color-secondary: #6f00ff;
$text-grey: #6f00ff;
$divider: #6f00ff;
$lighter-grey: #6f00ff;
$darker-grey: #6f00ff;
$smoky-white: #6f00ff;
$heart: #6f00ff;
